@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Fjalla+One&display=swap');

:root{
  --primary: #2D89FF97;
  --secondary: #ff9900;
  --complement: #ff1500;
}

.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.sText {
  font-family: 'Roboto Mono', monospace;
  font-weight: unset;
}

.root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftAligned{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightAligned{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card{
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalCard{
  margin-top: 15%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatComponent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2% 0 2%;
}

.chatBox{
  width: 70%;
  height: 100%;
  background-color: rgba(0, 144, 240, 0.21);
}

.sideBar{
  width: 30%;
  height: 100%;
}

.chatPreviews{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatField{
  width: 40vw;
  height: 50vw;
  background-color: #cdcdcd;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightChat{
  width: 25vw;
  height: 4vw;
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Chatbox{
  min-width: 10vw;
}

.leftChat{
  width: 25vw;
  height: 4vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chatOutlines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sendBox{
  position: absolute;
  bottom: 0;
}

.scrollBox{
    height: 150px;
    width: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

.profileBorder{
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button_primary{
    background-color: var(--primary);
    color: white;
  }

.button_secondary{
    background-color: #E2E2E296;
    color: black;
  }

.button_delete{
    background-color: #FF030397;
    color: white;
  }

.nav{
  margin: auto;
  box-shadow: 0 8px 20px 0 rgba(10, 27, 68, 0.29);
  position: sticky;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.TeamUpIcon{
  width: 2.5vw;
  height: 2.5vw;
}

.logout-icon{
  width: 25vw;
  height: 2.5vw;
  color: white;
}

.font-logo{
  width: 20em;
  height: 5em;
}

.icon{
  color: #ffffff
}

.primary{
    background-color: var(--primary)
  }

.secondary{
  background-color: var(--secondary)
}

.complement{
  background-color: var(--complement)
}

.register{
  color: #898989;
  margin-bottom: 5%;
}

.h1_regular{
  font-size: xx-large
}

.h1_bold{
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0;
}

.h2_regular{
  font-size: x-large
}

.h2_bold{
  font-size: x-large;
  font-weight: bold
}

.h3_regular{
  font-size: large;
  margin-top: 0;
}

.h3_bold{
  font-size: large;
  font-weight: bold
}

.p_regular {
  font-size: medium;
}

.p_bold{
  font-size: medium;
  font-weight: bold
}

.header{
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Catamaran', sans-serif;
  font-size: 80px
}

.matchWindow{
  width: 70%;
}

.matchHeader{
  overflow: hidden;
  margin-top: 5%;
  padding: 10% 10% 0 10%;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 74, 95, 0.2);
}

.matchHeaderItem{
  display: inline-block;
  margin: 0;
  width: 30vw;
  column-gap: 50%;
  padding: 5% 0 0 0;
}

.matchBody{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.matchProfilBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}